/** CSS STYLE **/
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans.ttf);
}

@font-face {
  font-family: "Neucha";
  src: url(../fonts/neucha.ttf);
}

body{
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  }

  .container{
    max-width: 1110px;
    margin: 100px auto;
  }
  

  .back::before{
    content: "";

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    
  }

  h1, 
  h2, 
  h3{
    font-weight: normal;
    font-family: "Neucha", cursive;
    color: #fe8a02;
    line-height: 1.2em;
    margin: 0;
  }

  h1{
    font-size: 72px;
  }

  h2{
    font-size: 60px;
  }

  h3{
    font-size: 34px;
  }

  .position{
    position: relative;
  }


  .container-flex{
    display: flex;
    justify-content: space-between;

    padding-bottom: 150px;
  }


  .header{
    background-color: #f5f4f0;
  }

  .header-title{

    padding-top: 100px;
    padding-left: 300px;
    margin-bottom: 185px;
    
  }

  .opens{
    font-family: "OpenSans", sans-serif;
  }

  .right-side{
    width: 540px;
    padding-right: 510px;
  }

  .marg-40{
    margin-bottom: 40px;
  }

  .left-side{
    width: 540px;
    padding-left: 275px;
    
  }

  
  .black{
    color: #2A2626;
  }




  .more-details{
    display: inline-block;
    box-sizing: border-box;

    width: 148px;
    padding: 15px 0 12px;
    font-weight: bold;
    font-size: 16px;
    font-family: "OpenSans", sans-serif;

    background-color: #fe8a02;
    color: #fff;
    text-align: center;
    text-decoration: none;

    
  }

  .more-details:hover{
    background: #ea7600;
    text-decoration: none;
    cursor: pointer;
  }

  .image {
    position: absolute;
    height: 525px;
    top: 55px;
    right: 235px;
  }



  
  



  .header-video{
    padding-top: 150px;
    margin-bottom: 30px;
    text-align: center;
  }

  .paragraph-video{
    text-align: center;
    
  }

  .video{
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    position: relative;
    text-align: center;
    top: 20px;
  }



  .container-for-video{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }




  #navigation{
    background: #42413c;
  }

  .back-nav{
    margin-top: -50px;
  }

  ul{
    list-style-type: none;
  }

  .header-nav{
    display: block;
    text-align: left;
    font-size: 52px;
    
  }



  .container-flex-for-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #42413c;
    margin-left: 225px;
    padding-top: 150px;
    width: 70%;
    padding-bottom: 100px;
  }


  .first{
    margin-left: 60px;
  }

  .card{
    background-color: #f5f4f0;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    width: 350px;
  }

  .number-nav{
    color: #42413c;
    padding-bottom: 30px;
    
  }

  .nav-card-header{
    font-size: 34px;
  }







  .before-header{
    color: #908d8b;
    font-size: 24px;
  }







  .color-white{
    color: #fff;
  }

  .color-not-full-white{
    color: #d7ccc0;
  }

  .color-light{
    color: #f5f4f0;
  }

  .main-color{
    color: #fe8a02;
  }

  .color-main-dark{
    color: #42413c;
  }

  .color-dark{
    color: #2A2626;
  }

  .color-not-full-dark{
    color: #908d8b;
  }

  .color-brown{
    color: #b09a81;
  }

  .color-blue{
    color: #1085c5;
  }

  

.hello {
  display: block;

  color: #fff;
}
