/** CSS STYLE **/
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/OpenSans.ttf);
}

@font-face {
  font-family: "Neucha";
  src: url(/fonts/neucha.ttf);
}

body{
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.6em;
  color: #2A2626;
  }

  h1 h2 h3{
    font-family: "Neucha";
    line-height: 1.2em;
  }

  h1{
    font-size: 72px;
  }

  h2{
    font-size: 60px;
  }

  h3{
    font-size: 34px;
  }

  section{
    max-width: 1110px;
    text-align: center;
    margin: 100px 0 100px;
  }

  .color-white{
    color: #fff;
  }

  .color-not-full-white{
    color: #d7ccc0;
  }

  .color-light{
    color: #f5f4f0;
  }

  .main-color{
    color: #fe8a02;
  }

  .color-main-dark{
    color: #42413c;
  }

  .color-dark{
    color: #2A2626;
  }

  .color-not-full-dark{
    color: #908d8b;
  }

  .color-brown{
    color: #b09a81;
  }

  .color-blue{
    color: #1085c5;
  }

  

.hello {
  display: block;

  color: #fff;
}
